h1 {
	font-size: 2.3em;
	text-align: center;
	font: bold 330%/100% "Lucida Grande";
  position: relative;
  color: #46464;
}
h2 {
	font-size: 2.0em;
	text-align: right;
	font: bold 400%/150% "Lucida Grande";
	position: relative;
	color: #46464;
}


div.scrollmenu {
	background-image:linear-gradient(90deg, green, blue);
	background-color: #6A7E25;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: #FF00EF;
}